*{
    user-select: none;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: dimgrey;
    border-radius: 10px;
}

.banDrag {
    -webkit-app-region: no-drag;
}

.clickable {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

#window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px grey solid;
    -webkit-app-region: drag;
}

#topMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    background-color: indianred;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#windowTitle {
    width: 30%;
    font-size: 15px;
    text-align: left;
    line-height: 30px;
    margin-left: 10px;
    color: whitesmoke;
}

#windowControlBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 10%;
}

.windowControlButton {
    font-size: 25px;
    color: whitesmoke;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.windowControlButton:active {
    color: grey;
}

#messageArea {
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#warningIcon {
    font-size: 100px;
    height: 90%;
    width: 40%;
    color: darkorange;
}

#messageBox {
    width: 70%;
    height: 80%;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    color: chocolate;
    overflow-y: auto;
}